<h1 class="mt-4">New Session</h1>

<%= bootstrap_form_with( url: confirm_session_path, method: :get, local: true )  do |form| %>

      <%= form.datetime_field :timestamp, required: :true, label: "Choose Date and Time" %>
      <%= form.text_area :note, required: :true, label: "What would you like to learn during the session?" %>
      <%= form.number_field :duration, required: :true, label: "Session Duration (mins)" %>
      <%= form.hidden_field :tutor_id, :value => params[:tutor_id] %> 
      <%= form.submit "Next", class: "btn-primary btn" %>
<% end %>