<h1>Session Confirmation Page</h1>

<%= form_with( model: @session, url: create_session_path) do |form| %>
    
    <div>
      <%= form.label :timestamp, "Choose Session Date and Time" %>
      <%= datetime_select("session", "timestamp") %>
    </div>
    <div>
      <%= form.label :note, "What would you like to learn during the session?" %>
      <%= form.text_area :note %>
    </div>
    <div>
      <%= form.label :duration, "Session Duration (mins)" %>
      <%= form.select :duration, ["0", "15", "30", "45", "60"]%>
    </div>
    <div>
      <%= form.hidden_field :tutor_id, :value => params[:tutor_id] %> 
      <%= form.submit "Confirm Booking", class: "btn btn-primary btn-lg" %>
    </div>

<% end %>