<%= provide(:connex_active, "active") %>

<h1 class="mt-4">Tutors</h1>

<%= bootstrap_form_with url: tutors_path, method: "get", value: @search, local: true do |form| %>
  <%= form.text_field :search, label: "Name", class: "form-control" %>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>

<div class="row">
  <%= render "tutor", tutors: @tutors %>
</div>