<h1><%= @tutor.user.firstname %> <%= @tutor.user.lastname %></h1>
<%= image_tag @tutor.user.pic, alt: "Fake profile photos using cartoon robots" %>

<ul>
  <li>Lead <%= @sessions_count %> sessions</li>
  <li><%= @tutor.experience.capitalize %> Dev</li>
  <li><%= @tutor.bio %></li>
  <li><%= @tutor.style %></li>
  <li>Hourly Pricing $<%= @tutor.pricing %></li>
  <li>Average Rating <%= @ratings_avg_score %></li>
</ul>

<h2>Skills</h2>

<h3>Master</h3>
  <% @master_tech.each do |tech| %>
    <%= tech.technology.name %>
  <% end %>

<h3>Experienced</h3>
  <% @experienced_tech.each do |tech| %>
    <%= tech.technology.name %>
  <% end %>

<h3>Fresh</h3>
  <% @fresh_tech.each do |tech| %>
    <%= tech.technology.name %>
  <% end %>

  <%= link_to  "Check Availability", new_session_path(:tutor_id => @tutor.id) %>