<h1 class="mt-4"><%= @tutor.user.firstname %> <%= @tutor.user.lastname %></h1>

<%= image_tag @tutor.user.pic, alt: "Fake profile photos using cartoon robots", class: "mb-4" %>
<p>Session Count: <%= @sessions_count %> sessions</p>
<p>Experience: <%= @tutor.experience.capitalize %> Dev</p>
<p>Bio: <%= @tutor.bio %></p>
<p>Teching Style: <%= @tutor.style %></p>
<p>Hourly Pricing: $<%= @tutor.pricing / 100 %></p>
<p>Tech Skills:<p>
  <ul>
    <% @skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>

  <%= link_to  "Check Availability", new_session_path(:tutor_id => @tutor.id), class: "btn btn-primary mb-4" %>