<main id="tutor-profile-edit" class="mt-4 mb-4">

<h2>Tutor Profile</h2>

  <%= bootstrap_form_with(model: @tutor, url: update_account_path, local: true) do |f| %>
    <%= f.number_field :pricing, label: "Hourly Pricing ($)" %>
    <%= f.select :experience, @experiences.map { |experience| [experience.capitalize, experience]} %>
    <%= f.text_area :bio %>
    <%= f.text_area :style, label: "Teaching Style" %>
    <%= f.number_field :maxduration, label: "Max Session Duration (mins)" %>
    <%= f.collection_check_boxes :technologies, Technology.all, :id, :name %>
    <%= f.submit "Confirm", class: "btn-primary btn" %>
  <% end %>
</main>



