<h1 class="mt-4">Tutor Registration</h1>

<%= bootstrap_form_with(model: @tutor, url: create_tutor_account_path, local: true) do |f| %>
  <%= f.number_field :pricing, required: :true, label: "Hourly Pricing ($)" %>
  <%= f.select :experience, @experiences.map { |experience| [experience.capitalize, experience]} %>
  <%= f.text_area :bio, required: :true %>
  <%= f.text_area :style, required: :true %>
  <%= f.number_field :maxduration, label: "Max Session Duration (mins)", required: :true %>
  <%= f.collection_check_boxes :technology_ids, Technology.all, :id, :name %>
  <%= f.submit "Confirm", class: "btn-primary btn mb-4" %>
<% end %>